[submodule "library"]
	path = library
	url = git@github.com:VedavardhanaTheertha/WebsiteLibrary.git
[submodule "settings"]
	path = settings
	url = git@github.com:VedavardhanaTheertha/WebsiteConfiguration.git
